@import "~include-media/dist/include-media";
.Mainmusic{
    background-color: rgb(215, 215, 215);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .Maintalk{
        color: black;
        font-size: 200px;
        position: relative;
        overflow: hidden;
        animation: fadein 11s ease-in-out;
    }
    @keyframes fadein {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: none;
        }
      }

      .Startbtn{
        background-color: rgb(215, 215, 215);
        color: black;
        border-color: black;
        border-radius: 30px;
        font-style:bold;
        font-size: 2vw;
        width: 20vw;
        height: 4vw;
        &:hover,
      &:focus {
        background-color: black;
        color: white
      }
      }
}